
  .header {
    padding: 0px;
    margin: 0px;
    display: flex;
    background: #000000;
    min-height: 50px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    margin: 0px;
    font-size: 16px;
    padding: 10px;
    font-family: "Comic Sans MS";
  }

  .header-button {
    margin-left: 10px;
    text-transform: uppercase;
    background: #333333;
    color: white;
    font-size: 12px;
    cursor: pointer;
  }

  .header-button:hover {
    color: white;
  }

  .header-button.active {
    background: #49ba8e;
    cursor: default;
  }

  /* Dropdown */
  .dropdown-btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    color: #49ba8e;
    border: 1px solid #49ba8e;
    font-size: 12px;
    width: 120px;
    min-width: 120px;
    height: 32px;
  }

  .dropdown-menu {
    background: #323232;
    color:white;
    cursor: pointer;
    display: none;
    margin: 0px 10px;
    font-size: 12px; 
    min-width: 120px;
    width: 120px;

  }
  .dropdown-item {
    display: inline-flex;
    opacity: 0.75;
    color:white;
    font-size: 12px;
    height: 30px;
  }
  .dropdown-item:hover {
    background: #000;
    color: #49ba8e;
  }

  .dropdown-item-checkbox{
    margin-right: 8px;
    margin-top: 5px;
    cursor: pointer;
    height: 12px;
    width: 15px;
    border: 1px solid #49ba8e;
    font-size: 10px;
  }

  .dropdown-item-checkbox.checked{
    font-weight: bold;
    background-color: #49ba8e;
  }

  .dropdown-item:hover > .dropdown-item-checkbox.checked {
    color: white;
  }

  .dropdown-item-checkbox span{
    display: none;
  }
  .dropdown-item-checkbox.checked span{
    display: block;
    position: relative;
    top: -2px;
    left: 1px; 
  }

  .dropdown:hover > .dropdown-menu{
    display: block;
  }

  .dropdown-icon {
    vertical-align: super;
  }

  .dropdown .ellipsis {
    margin:auto;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80px;
  }


  
@media only screen and (max-width:800px) {
    .header {
      min-height: 100px;
    }
    .dropdown {
      width: 30%;
      min-width: 30%;
    }
    .dropdown-menu {
        width: 100%;
        min-width: 100%;
    }
    .header-item {
      justify-content: space-between;
      width: 95%;
    }
    .dropdown-btn {
      width: 100%;
      min-width: 100%;
    }
    .dropdown .ellipsis {
      width: 80%;
    }
  }
  
  @media only screen and (max-width:450px) {
  
    .header-button {
      font-size: 10px;
      margin:0px;
    }
    .dropdown-menu {
        width: 120px;
        min-width: 120px;
    }
    .dropdown-btn {
      padding: 0px 5px;
      font-size: 10px;
      margin: 0px 8px;
    }
    .dropdown-label {
      width:fit-content;
      min-width: 60px;
    }
  }