
.trailer-container {
    margin:10px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 30%;
    height: 50%;
}
  
.trailer-container > .trailer-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border: none;
}

@media only screen and (max-width:800px) {

    .trailer-container {
        padding-top: 57%;
        height: 100%;
    }

    .trailer-container > .trailer-iframe {
        width: 100%;
    }
}