
.trailer-component { 
    padding:10px;
    width: 100%;
}

.trailer-container { 
    position: relative;
    overflow: hidden;
    padding-top: 35%;
    height: 60%;
    -webkit-filter:none;
}
.trailer-container > .trailer-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100%;
    border: none;
    -webkit-filter:none;
}

.trailer-container >.movie-details {    
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  width: 39%;
  height: 100%;
  padding: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.movie-details > .title {   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.movie-details > .language {   
    font-size: 11px;
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.movie-details > .genre-list {   
    font-size: 9px;
    opacity: 0.6;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genre-list > .genre {
    margin-top: 5px;
    padding: 1px 10px;
    border-radius: 40px;
    border: 0.5px solid white; 
    margin-right: 8px;
} 


.rate-date {
    margin:10px 0px;
}
.rate-date .icon {
    font-size: 20px;
    margin-right: 10px ;
}

.rate-date.flex-row {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rate-date .flex-column {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.rate-date .big-text {
    font-size: 12.5px;
}
.rate-date .small-text {
    font-size: 9.5px;
    opacity: 0.7;
}

.watch-qstn.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    right: 0;
    
    width: 100%;
}

.watch-qstn .icon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 0.5px solid white;
    padding:9px;
    margin-bottom: 5px;
    cursor: pointer;
}

.watch-qstn .yes {
    color: #49ba8e;
}
.watch-qstn .icon.yes {
    border: 0.5px solid #49ba8e;
}
.watch-qstn .icon.yes:hover {
    background: #49ba8e;
    color:#eee;
}


.watch-qstn .maybe {
    color: #fea502;
}
.watch-qstn .icon.maybe {
    border: 0.5px solid #fea502;
    padding: 7px;
}
.watch-qstn .icon.maybe:hover {
    background: #fea502;
    color:#fff;
}

.watch-qstn .no {
    color: #b24142;
}
.watch-qstn .icon.no {
    border: 0.5px solid #b24142;
}
.watch-qstn .icon.no:hover {
    background: #b24142;
    color:#eee;
}

.watch-qstn .text {
    font-size: 8px;
    text-transform: uppercase;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Tablets and Phones */

@media only screen and (max-width:800px) {
    
    .trailer-container {
        padding-top: 100%;
        height: 100%;
    }

    .trailer-container > .trailer-iframe {
        width: 100%;
        height: calc(100% - 200px);
    }
    .trailer-container >.movie-details { 
        height: 200px;
        top: calc(100% - 200px);
        width: 100%;
    }
    .watch-qstn.flex-row {
        bottom:5px;
    }
}


/* Desktop */

@media only screen and (min-width:1100px) {

    .movie-details > .title {   
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .movie-details > .language {   
        font-size: 14px;
        opacity: 0.7;
    }
    
    .movie-details > .genre-list {   
        font-size: 12px;
        opacity: 0.7;
    }
    
    .genre-list > .genre {
        margin-top: 10px;
        padding: 2px 15px;
        border: 1px solid white; 
        margin-right: 10px;
    }
    

    .rate-date {
        margin: 15px 0px;
    }
    .rate-date .icon {
        font-size: 24px;
        margin-right: 12px;
    }

    .rate-date .big-text {
        font-size: 16px;
    }
    .rate-date .small-text {
        font-size: 12px;
    }

    .watch-qstn .icon {
        width: 42px;
        height: 42px;
        padding: 12px;
    }
    .watch-qstn .text {
        font-size: 10px;
    }
}