
.trailer-container { 
    margin:10px;
    position: relative;
    overflow: hidden;
    padding-top: 35%;
    height: 60%;
    -webkit-filter:none;
}
.trailer-container > .trailer-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100%;
    border: none;
    -webkit-filter:none;
}

@media only screen and (max-width:800px) {

    .trailer-container {
       padding-top: 57%;
        height: 100%;
    }

    .trailer-container > .trailer-iframe {
        width: 100%;
    }
}