
@media only screen and (max-width:800px) {
    .header {
      min-height: 100px;
    }
    .dropdown {
      width: 30%;
      min-width: 30%;
    }
    .header-item {
      justify-content: space-between;
      width: 95%;
    }
    .dropdown-btn {
      width: 100%;
      min-width: 100%;
    }
  }
  
  @media only screen and (max-width:450px) {
  
    .header-button {
      font-size: 10px;
      margin:0px;
    }
    .dropdown-btn {
      padding: 0px 5px;
      font-size: 10px;
      margin: 0px 8px;
    }
    .dropdown-label {
      width:fit-content;
      min-width: 60px;
      padding-top:2px;
    }
  }